{% extends "layout.html" %}

{% block title %}
    Main 
{% endblock %}

{% block main %}
    <h2>CrissXCross</h2>
    {% if session.user_id %}
        <p>Hello, {{username}}</p>
        <ul>
            <li><a href="/register">Register an account</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    {% else %}
        <ul>
            <li><a href="/register">Register an account</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    {% endif %}
{% endblock %}