{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h2 style = "text-align: center; margin-top: 2%;"><mark>Register Page</mark></h2>
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <div class="text-center text-muted">
        The password must have at least 6 characters and at least one number
    </div>
    <br>
    {% if alertmsg %}
    <div class="alert alert-danger" role="alert">
        Invalid input, {{alertmsg}}. Please try again.
    </div>
    {% endif %}
{% endblock %}
